[submodule "deps/googletest"]
	path = deps/googletest
	url = https://github.com/google/googletest
[submodule "deps/backward-cpp"]
	path = deps/backward-cpp
	url = https://github.com/bombela/backward-cpp
[submodule "deps/rocksdb"]
	path = deps/rocksdb
	url = https://github.com/facebook/rocksdb
[submodule "deps/qclient"]
	path = deps/qclient
	url = https://gitlab.cern.ch/eos/qclient.git
[submodule "deps/asio"]
	path = deps/asio
	url = https://github.com/chriskohlhoff/asio
[submodule "deps/mkdocs-material"]
	path = deps/mkdocs-material
	url = https://github.com/squidfunk/mkdocs-material.git
